<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>V</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>60</integer>
		<key>o</key>
		<integer>-58</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>R</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_a</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>-40</integer>
		<key>@MMK_R_c</key>
		<integer>-30</integer>
		<key>@MMK_R_i</key>
		<integer>-10</integer>
		<key>@MMK_R_m</key>
		<integer>-20</integer>
		<key>@MMK_R_z</key>
		<integer>-2</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-6</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-21</integer>
		<key>@MMK_R_i</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>20</integer>
		<key>@MMK_R_i</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-36</integer>
		<key>@MMK_R_c</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-13</integer>
	</dict>
	<key>@MMK_L_w</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>30</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_u</key>
		<integer>-70</integer>
		<key>o</key>
		<integer>-50</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>0</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>-1</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>@MMK_R_m</key>
		<integer>-50</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>@MMK_R_c</key>
		<integer>0</integer>
		<key>@MMK_R_m</key>
		<integer>-10</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
	</dict>
</dict>
</plist>
