<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-9</integer>
		<key>@MMK_R_O</key>
		<integer>-28</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_T</key>
		<integer>-95</integer>
		<key>@MMK_R_V</key>
		<integer>-85</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-38</integer>
		<key>@MMK_R_u</key>
		<integer>-2</integer>
		<key>@MMK_R_v</key>
		<integer>-77</integer>
		<key>U</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-27</integer>
		<key>@MMK_R_H</key>
		<integer>-8</integer>
		<key>@MMK_R_S</key>
		<integer>-2</integer>
		<key>@MMK_R_T</key>
		<integer>-5</integer>
		<key>@MMK_R_V</key>
		<integer>-39</integer>
		<key>@MMK_R_Y</key>
		<integer>-24</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-19</integer>
		<key>N</key>
		<integer>-3</integer>
	</dict>
	<key>@MMK_L_G</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-28</integer>
		<key>@MMK_R_H</key>
		<integer>-2</integer>
		<key>@MMK_R_V</key>
		<integer>-19</integer>
		<key>@MMK_R_s</key>
		<integer>-2</integer>
		<key>X</key>
		<integer>-32</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_H</key>
		<integer>-4</integer>
		<key>@MMK_R_O</key>
		<integer>-2</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-38</integer>
		<key>@MMK_R_O</key>
		<integer>-47</integer>
		<key>@MMK_R_S</key>
		<integer>-19</integer>
		<key>@MMK_R_a</key>
		<integer>-27</integer>
		<key>@MMK_R_d</key>
		<integer>-29</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_s</key>
		<integer>-38</integer>
		<key>@MMK_R_u</key>
		<integer>-12</integer>
		<key>@MMK_R_v</key>
		<integer>-60</integer>
		<key>U</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-94</integer>
		<key>@MMK_R_V</key>
		<integer>-85</integer>
		<key>@MMK_R_Y</key>
		<integer>-110</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
		<key>@MMK_R_x</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-19</integer>
		<key>@MMK_R_V</key>
		<integer>-28</integer>
		<key>X</key>
		<integer>-49</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-5</integer>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_V</key>
		<integer>-43</integer>
		<key>@MMK_R_Y</key>
		<integer>-58</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_V</key>
		<integer>-23</integer>
		<key>@MMK_R_Y</key>
		<integer>-55</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-24</integer>
		<key>@MMK_R_x</key>
		<integer>-47</integer>
		<key>X</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-82</integer>
		<key>@MMK_R_J</key>
		<integer>-81</integer>
		<key>@MMK_R_d</key>
		<integer>-90</integer>
		<key>@MMK_R_n</key>
		<integer>-100</integer>
		<key>@MMK_R_o</key>
		<integer>-100</integer>
		<key>@MMK_R_s</key>
		<integer>-80</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-28</integer>
		<key>@MMK_R_Y</key>
		<integer>-2</integer>
		<key>@MMK_R_s</key>
		<integer>-1</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-85</integer>
		<key>@MMK_R_C</key>
		<integer>-32</integer>
		<key>@MMK_R_J</key>
		<integer>-66</integer>
		<key>@MMK_R_O</key>
		<integer>-16</integer>
		<key>@MMK_R_S</key>
		<integer>-23</integer>
		<key>@MMK_R_a</key>
		<integer>-56</integer>
		<key>@MMK_R_o</key>
		<integer>-49</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-39</integer>
		<key>@MMK_R_O</key>
		<integer>-49</integer>
		<key>@MMK_R_S</key>
		<integer>-29</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>B</key>
		<integer>-9</integer>
		<key>F</key>
		<integer>-11</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-14</integer>
		<key>@MMK_R_j</key>
		<integer>-10</integer>
		<key>@MMK_R_x</key>
		<integer>-48</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_j</key>
		<integer>0</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-19</integer>
		<key>@MMK_R_x</key>
		<integer>-1</integer>
	</dict>
	<key>@MMK_L_k</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>-29</integer>
		<key>@MMK_R_d</key>
		<integer>-36</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-38</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-17</integer>
		<key>@MMK_R_t</key>
		<integer>3</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_s</key>
		<integer>-21</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-43</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-28</integer>
		<key>@MMK_R_o</key>
		<integer>-38</integer>
		<key>@MMK_R_s</key>
		<integer>-29</integer>
		<key>a</key>
		<integer>-37</integer>
	</dict>
	<key>B</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-49</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-3</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-97</integer>
		<key>@MMK_R_d</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_u</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-50</integer>
		<key>@MMK_R_x</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-79</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-70</integer>
		<key>@MMK_R_C</key>
		<integer>-4</integer>
		<key>@MMK_R_H</key>
		<integer>-1</integer>
		<key>@MMK_R_J</key>
		<integer>-90</integer>
		<key>@MMK_R_V</key>
		<integer>-30</integer>
		<key>@MMK_R_Y</key>
		<integer>-34</integer>
		<key>@MMK_R_Z</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-19</integer>
		<key>@MMK_R_o</key>
		<integer>-18</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-1</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
		<key>I</key>
		<integer>-8</integer>
		<key>a</key>
		<integer>-33</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-60</integer>
		<key>@MMK_R_Y</key>
		<integer>-60</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-65</integer>
		<key>@MMK_R_n</key>
		<integer>-32</integer>
		<key>@MMK_R_o</key>
		<integer>-67</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-30</integer>
	</dict>
	<key>X</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-22</integer>
		<key>@MMK_R_t</key>
		<integer>-36</integer>
		<key>@MMK_R_v</key>
		<integer>-69</integer>
		<key>@MMK_R_x</key>
		<integer>0</integer>
		<key>a</key>
		<integer>-20</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-122</integer>
		<key>@MMK_R_C</key>
		<integer>-46</integer>
		<key>@MMK_R_J</key>
		<integer>-106</integer>
		<key>@MMK_R_O</key>
		<integer>-33</integer>
		<key>@MMK_R_S</key>
		<integer>-50</integer>
		<key>@MMK_R_d</key>
		<integer>-83</integer>
		<key>@MMK_R_o</key>
		<integer>-93</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
		<key>@MMK_R_u</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-47</integer>
		<key>@MMK_R_x</key>
		<integer>-57</integer>
		<key>R</key>
		<integer>-10</integer>
		<key>a</key>
		<integer>-110</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-29</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>@MMK_R_x</key>
		<integer>-38</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-24</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-14</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-9</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-38</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>a</key>
		<integer>-29</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-39</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>a</key>
		<integer>-29</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>@MMK_R_v</key>
		<integer>-5</integer>
	</dict>
</dict>
</plist>
