<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-68</integer>
		<key>@MMK_R_W</key>
		<integer>-70</integer>
		<key>@MMK_R_Y</key>
		<integer>-97</integer>
		<key>O</key>
		<integer>0</integer>
		<key>R</key>
		<integer>0</integer>
		<key>V</key>
		<integer>-100</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-65</integer>
		<key>@MMK_R_c</key>
		<integer>-85</integer>
		<key>o</key>
		<integer>-75</integer>
	</dict>
	<key>@MMK_L_W</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-66</integer>
	</dict>
	<key>@MMK_L_Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-90</integer>
		<key>R</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_Z</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>21</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>8</integer>
		<key>space</key>
		<integer>0</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>1</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-98</integer>
		<key>E</key>
		<integer>0</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>o</key>
		<integer>-8</integer>
	</dict>
</dict>
</plist>
