<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_A</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>50</integer>
		<key>@MMK_R_J</key>
		<integer>30</integer>
		<key>@MMK_R_O</key>
		<integer>-19</integer>
		<key>@MMK_R_V</key>
		<integer>-40</integer>
		<key>@MMK_R_Y</key>
		<integer>-50</integer>
		<key>@MMK_R_Z</key>
		<integer>30</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
		<key>@MMK_R_quotedbl</key>
		<integer>-50</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>H</key>
		<integer>10</integer>
		<key>quotedblright</key>
		<integer>-40</integer>
		<key>quoteright</key>
		<integer>-40</integer>
		<key>slash</key>
		<integer>30</integer>
	</dict>
	<key>@MMK_L_B</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-3</integer>
		<key>@MMK_R_V</key>
		<integer>-17</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_o</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-28</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-10</integer>
		<key>H</key>
		<integer>-20</integer>
		<key>M</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_C</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_F</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-30</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-28</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_H</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_K</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>39</integer>
		<key>X</key>
		<integer>19</integer>
	</dict>
	<key>@MMK_L_L</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>-22</integer>
	</dict>
	<key>@MMK_L_O</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
		<key>@MMK_R_J</key>
		<integer>30</integer>
		<key>@MMK_R_T</key>
		<integer>-10</integer>
		<key>@MMK_R_V</key>
		<integer>-1</integer>
		<key>@MMK_R_a</key>
		<integer>-10</integer>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_P</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_R</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>23</integer>
		<key>X</key>
		<integer>19</integer>
	</dict>
	<key>@MMK_L_S</key>
	<dict>
		<key>@MMK_R_J</key>
		<integer>10</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_T</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-10</integer>
		<key>@MMK_R_d</key>
		<integer>-50</integer>
		<key>@MMK_R_i</key>
		<integer>-20</integer>
		<key>@MMK_R_n</key>
		<integer>-50</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_s</key>
		<integer>-40</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_u</key>
		<integer>-40</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>@MMK_R_x</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_U</key>
	<dict>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>slash</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_V</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_colon</key>
		<integer>-40</integer>
		<key>@MMK_R_comma</key>
		<integer>-60</integer>
		<key>@MMK_R_d</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-40</integer>
		<key>K</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_X</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-10</integer>
		<key>@MMK_R_o</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_b</key>
	<dict>
		<key>@MMK_R_quotedbl</key>
		<integer>-30</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_c</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_comma</key>
	<dict>
		<key>@MMK_R_d</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-30</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-19</integer>
		<key>@MMK_R_v</key>
		<integer>-40</integer>
	</dict>
	<key>@MMK_L_d</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>quoteright</key>
		<integer>20</integer>
	</dict>
	<key>@MMK_L_e</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_g</key>
	<dict>
		<key>@MMK_R_quotedbl</key>
		<integer>-20</integer>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_h</key>
	<dict>
		<key>@MMK_R_quotedbl</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-10</integer>
		<key>quoteright</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_n</key>
	<dict>
		<key>@MMK_R_b</key>
		<integer>-2</integer>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_quotedbl</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_o</key>
	<dict>
		<key>@MMK_R_T</key>
		<integer>-77</integer>
		<key>@MMK_R_comma</key>
		<integer>-5</integer>
		<key>@MMK_R_v</key>
		<integer>-20</integer>
		<key>quotedblright</key>
		<integer>-30</integer>
		<key>quoteright</key>
		<integer>-20</integer>
	</dict>
	<key>@MMK_L_quotedbl</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_d</key>
		<integer>-40</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-30</integer>
	</dict>
	<key>@MMK_L_r</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
		<key>@MMK_R_quotedbl</key>
		<integer>40</integer>
		<key>@MMK_R_t</key>
		<integer>20</integer>
		<key>@MMK_R_v</key>
		<integer>40</integer>
		<key>question</key>
		<integer>30</integer>
		<key>quoteright</key>
		<integer>60</integer>
	</dict>
	<key>@MMK_L_s</key>
	<dict>
		<key>@MMK_R_quotedbl</key>
		<integer>-40</integer>
		<key>@MMK_R_s</key>
		<integer>-21</integer>
		<key>@MMK_R_v</key>
		<integer>-27</integer>
		<key>question</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_t</key>
	<dict>
		<key>@MMK_R_s</key>
		<integer>-10</integer>
	</dict>
	<key>@MMK_L_v</key>
	<dict>
		<key>@MMK_R_a</key>
		<integer>0</integer>
		<key>@MMK_R_comma</key>
		<integer>-50</integer>
		<key>@MMK_R_d</key>
		<integer>-20</integer>
		<key>@MMK_R_l</key>
		<integer>2</integer>
		<key>@MMK_R_o</key>
		<integer>-9</integer>
		<key>@MMK_R_s</key>
		<integer>-27</integer>
		<key>slash</key>
		<integer>-30</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>@MMK_R_V</key>
		<integer>20</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>10</integer>
	</dict>
	<key>I</key>
	<dict>
		<key>H</key>
		<integer>-10</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>@MMK_R_Y</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-10</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_C</key>
		<integer>-10</integer>
		<key>@MMK_R_H</key>
		<integer>-20</integer>
		<key>@MMK_R_O</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-30</integer>
		<key>@MMK_R_colon</key>
		<integer>-30</integer>
		<key>@MMK_R_comma</key>
		<integer>-80</integer>
		<key>@MMK_R_d</key>
		<integer>-50</integer>
		<key>@MMK_R_n</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_t</key>
		<integer>-20</integer>
		<key>@MMK_R_u</key>
		<integer>-20</integer>
		<key>@MMK_R_v</key>
		<integer>-30</integer>
		<key>@MMK_R_x</key>
		<integer>-20</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-38</integer>
		<key>@MMK_R_quotedbl</key>
		<integer>20</integer>
		<key>@MMK_R_s</key>
		<integer>-20</integer>
		<key>question</key>
		<integer>30</integer>
		<key>quotedblright</key>
		<integer>40</integer>
		<key>quoteright</key>
		<integer>30</integer>
	</dict>
	<key>questiondown</key>
	<dict>
		<key>@MMK_R_S</key>
		<integer>-20</integer>
		<key>@MMK_R_t</key>
		<integer>-30</integer>
	</dict>
	<key>quotedblleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-50</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_d</key>
		<integer>-60</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-70</integer>
	</dict>
	<key>quoteleft</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_S</key>
		<integer>-30</integer>
		<key>@MMK_R_a</key>
		<integer>-50</integer>
		<key>@MMK_R_d</key>
		<integer>-80</integer>
		<key>@MMK_R_n</key>
		<integer>-30</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
		<key>@MMK_R_s</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-40</integer>
	</dict>
	<key>quoteright</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-40</integer>
		<key>@MMK_R_a</key>
		<integer>-40</integer>
		<key>@MMK_R_d</key>
		<integer>-40</integer>
		<key>@MMK_R_o</key>
		<integer>-50</integer>
	</dict>
	<key>seven</key>
	<dict>
		<key>@MMK_R_comma</key>
		<integer>-30</integer>
	</dict>
	<key>slash</key>
	<dict>
		<key>@MMK_R_A</key>
		<integer>-80</integer>
		<key>@MMK_R_J</key>
		<integer>-20</integer>
		<key>@MMK_R_a</key>
		<integer>-60</integer>
		<key>@MMK_R_d</key>
		<integer>-59</integer>
		<key>@MMK_R_o</key>
		<integer>-60</integer>
		<key>@MMK_R_t</key>
		<integer>-10</integer>
		<key>@MMK_R_v</key>
		<integer>-29</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>@MMK_R_o</key>
		<integer>-19</integer>
	</dict>
</dict>
</plist>
